<h2 class="title is-3">Production Companies</h2>

<ol class="ml-5">
  <% @production_companies.each do |production_company | %>
    <li><%= link_to production_company.name, production_company %></li>
  <% end %>
</ol>