<h1 class="title is-1">Top 100 Movies</h1>

<div class="columns content">
  <div class="column">
    <h3 class="title is-5">Top 10 Movies</h3>
    <ol class="ml-5">
      <% @movies.each do |movie| %>
        <li><%= link_to movie.title, movie %></li>
      <% end %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to "👉 See All Top Movies", movies_path %></strong>
    </p>
  </div>
  <div class="column">
    <h3 class="title is-5">Top 10 Production Companies</h3>
    <ol class="ml-5">
      <% @production_companies.each do |production_company| %>
        <li><%= link_to production_company.name, production_company %></li>
      <% end %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to"👉 See All Top Production Companies", production_companies_path %></strong>
    </p>
  </div>
</div>